<div class="card w-25 me-2 <% if(priority=='low') { %> text-bg-success <% } else if(priority=='medium') {%>
    text-bg-warning<% } else if(priority=='high') {%>text-bg-danger<% } %>">
    <div class="card-body">
        <h5 class="card-title">
            <%= title %>
        </h5>
        <p class="card-text">
            <%= description %>
        </p>
        <div class="extraBtns d-flex">

            <button type="button" class="btn btn-light me-2 btn-sm" data-bs-toggle="modal"
                data-bs-target="#editTaskModal<%= id %>">
                <i class="bi bi-pen"></i>
            </button>
            <%- include('editModal',{title,description,priority,id}) %>
                <form action="/<%= id %>?_method=DELETE" method="post">
                    <button class="btn btn-light btn-sm">
                        <i class="bi bi-trash3"></i>
                    </button>
                </form>

        </div>

    </div>
</div>